@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-bg{
  background-color: #030617;
}
.section-1{
  background-image: url('/public/home.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;    
}
.section-2{
  background-image:
                linear-gradient(45deg,
                    rgba(245, 70, 66, 0.75),
                    rgba(8, 83, 156, 0.75)), 
                      url(
                          '/public/blog.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;   
}